In [1]:
s='abc'

def per_str (str,index=0):
    if index==len(str)-1:
        print(''.join(str))
        for i in range(index,len(str)):
            wlist=(i for i in str)
            wlist [index],wlist[i] = wlist[1], wlist[index]
            per_str(wlist,index+1)
print (per_str,s)

<function per_str at 0x7fbc004edb70> abc

In [2]:
per_str(s)

In [3]:
# You have a robot:
#     - turnleft()
#     - turnright()
#     - Moveforward()
#     - MoveReverse()

# Turn 180
def turnaround():
    print("left")
    print("left")

turnaround()

left
left

In [46]:
def readtxt():
    txt = input("    2. Enter you name: ")
    print("    2. Welcome", txt.upper())

In [47]:
def readtxt_1():
    txt = input("1. Enter you name: ")
    if txt != ".":
        readtxt()
    print("1. Welcome", txt.upper())

In [48]:
readtxt_1()

1. Enter you name: sandeep
    2. Enter you name: giri
    2. Welcome GIRI
1. Welcome SANDEEP

In [37]:
def readrecur():
    txt = input("Enter a word: ")
    if txt != ".":
        readrecur()
    print(txt)

In [38]:
readrecur()

Enter a word: a
Enter a word: b
Enter a word: c
Enter a word: d
Enter a word: e
Enter a word: .
.
e
d
c
b
a

In [52]:
my_num = max(1,2,3,5,6,66,6,6)

In [53]:
my_num

66

In [55]:
max('abAB')

'b'

In [56]:
ord('a')

97

In [57]:
ord('A')

65

In [59]:
'a' > 'A'

True

In [61]:
x = '9'
num = 0
ord(x) - ord('0')

9

In [62]:
ord('0')

48

In [63]:
ord('9')

57

In [64]:
ord('A')

65

In [65]:
ord('a')

97

In [66]:
ord('_')

95

In [67]:
ord('\t')

9

In [68]:
ord('\n')

10

In [69]:
ord('a1b')

32

In [ ]:
ord('')

In [70]:
string.printable

NameError: name 'string' is not defined

In [72]:
chr(9)

'\t'

1 -> 2
2 -> 4
3 -> 8
4 -> 16
8 -> 256 # only represent 255 printable character
16 -> 256*256 64k

In [96]:
chr(0x907)

'à¤‡'

In [97]:
int('123')

123

In [98]:
float('123.4')

123.4

In [111]:
def avg(x, y):
    a = (x + y)/2
    print(a)

In [112]:
avg(10, 12)

11.0

In [114]:
final = avg(10, 12)

11.0

In [115]:
final == None

True

In [116]:
def avg(x, y):
    a = (x + y)/2
    return a

In [117]:
final = avg(10, 12)
print(final)

11.0

In [118]:
final == None

False

In [119]:
final == 11.0

True

In [130]:
def interest(p, r, t):
    i = p*r*t/100
    return i

In [131]:
interest(1000, 4, 5)

200.0

In [132]:
def compound_interest(p, r, t):
    total = p + interest(p,r,t)
    print(total)

In [133]:
compound_interest(1000, 4, 5)

1200.0

In [145]:
DAY_PREFS = ['Sun','Mon', "Tues", 'Wednes', 'Thurs', 'Fri', 'Satur']
def get_weekday(day):
    if type(day) == str:
        return day
    elif type(day) == int:
        idx = day - 1
        pref = DAY_PREFS[idx]
        return  pref + 'day'
    else:
        print("SORRY")
        return -1

In [160]:
DAY_PREFS = ['Sun','Mon', "Tues", 'Wednes', 'Thurs', 'Fri', 'Satur']
# without x = SUN

x = 2

DAY_PREFS[:x] + DAY_PREFS[x+1:]

['Sun', 'Mon', 'Wednes', 'Thurs', 'Fri', 'Satur']

In [164]:
DAY_PREFS = set(['Sun','Mon', "Tues", 'Wednes', 'Thurs', 'Fri', 'Satur'])
DAY_PREFS - set(['Mon'])

{'Fri', 'Satur', 'Sun', 'Thurs', 'Tues', 'Wednes'}

In [146]:
get_weekday(4)

'Wednesday'

In [147]:
get_weekday('MONDAY')

'MONDAY'

In [148]:
def analyse(arr):
    return (max(arr), min(arr), sum(arr), len(arr), sum(arr)/len(arr))

In [149]:
analyse([1,2,3,4,5])

(5, 1, 15, 5, 3.0)

In [150]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [157]:
def avg(*arr):
    return sum(arr)/len(arr)

In [158]:
avg(1, 2)

(1, 2)

1.5

In [154]:
avg(1, 2, 3)

2.0

In [155]:
avg(1, 2, 3, 4)

2.5

In [156]:
avg(1, 2, 5, 6)

3.5

In [166]:
# Veena

a=10
b=5
def multiply(x,y):
    if y < 0:
        return -multiply(x, -y)
    elif (y==0):
        return 0
    else:
        return x + multiply(x,y-1)

product = multiply(a,b)
print (product)

50

In [167]:
#samip

def multiply(x, n):
    if n == 0:
        return 0 
    else:
        return x + multiply(x, n-1)

In [168]:
= multiply(10, 4)
= 10 + multiply(10, 3)
= 10 + 10 + multiply(10, 2)
= 10 + 10 + 10 + multiply(10, 1)
= 10 + 10 + 10 + 10 + multiply(10, 0)
= 10 + 10 + 10 + 10 + 0

40

In [170]:
#*****Which is better ******

def func(x,y):
    return (x+y)
print(func(2,3))

or using anonymous function

func_a = lambda x,y : x+y
print(func_a(3,4))

SyntaxError: invalid syntax (<ipython-input-170-7ab151595f10>, line 7)

In [ ]:
# Factorial
fact(0) = 1
fact(1) = 1 * fact(0)
fact(2) = 2 * fact(1)
fact(3) = 3 * fact(2)
fact(4) = 4*3*2*1 = 4 * fact(3)
fact(5) = 5*4*3*2*1  = 5 * fact(4)

In [176]:
def fact(n):
    print("n = ", n)
    
    if n == 0:
        print("returning 1")
        return 1
    else:
        x = n*fact(n-1)
        print("returning ", x)
        return x

In [178]:
fact(20)

n =  20
n =  19
n =  18
n =  17
n =  16
n =  15
n =  14
n =  13
n =  12
n =  11
n =  10
n =  9
n =  8
n =  7
n =  6
n =  5
n =  4
n =  3
n =  2
n =  1
n =  0
returning 1
returning  1
returning  2
returning  6
returning  24
returning  120
returning  720
returning  5040
returning  40320
returning  362880
returning  3628800
returning  39916800
returning  479001600
returning  6227020800
returning  87178291200
returning  1307674368000
returning  20922789888000
returning  355687428096000
returning  6402373705728000
returning  121645100408832000
returning  2432902008176640000

2432902008176640000

In [179]:
def move2(src, target, aux):
    print("Move 1 from ", src , 'to', aux)
    print("Move 2 from ", src , 'to', target)
    print("Move 1 from ", aux , 'to', target)

In [180]:
move2('A', 'B', 'C')

Move 1 from  A to C
Move 2 from  A to B
Move 1 from  C to B

In [182]:
def move3(src, target, aux):
    move2(src, aux, target)
    print('Move 3 from ', src, target)
    move2(aux, target, src)

In [183]:
move3('A', 'B', 'C')

Move 1 from  A to B
Move 2 from  A to C
Move 1 from  B to C
Move 3 from  A B
Move 1 from  C to A
Move 2 from  C to B
Move 1 from  A to B

In [ ]:
def move(n, source, target, auxiliary):
    if n == 1:
        print("Move disk 1 from", source, "to", target)
        return
    move(n - 1, source, auxiliary, target)
    print("Move disk", n, "from", source, "to", target)
    move(n - 1, auxiliary, target, source)

# Example usage
n_disk = 4

move(n_disk, 'A', 'C', 'B')

In [6]:
def tower_of_hanoi(n,src,target,aux):
    if n==1:
        print(f"Move disk {n} from {src} to {target}")
    else:
        tower_of_hanoi(n-1,src, aux, target)
        print("Move disk "+str(n)+" from "+src+" to "+target)
        tower_of_hanoi(n-1,aux, target, src)
tower_of_hanoi(3,'A','B','C')

Move disk 1 from A to B
Move disk 2 from A to C
Move disk 1 from B to C
Move disk 3 from A to B
Move disk 1 from C to A
Move disk 2 from C to B
Move disk 1 from A to B

In [56]:
def tower_of_hanoi(n,src,target,aux):
    if n > 0:
        tower_of_hanoi(n-1,src, aux, target)
        print(f"Move disk {n} from {src} to {target}")
        tower_of_hanoi(n-1,aux, target, src)

In [57]:
tower_of_hanoi(2,'A','B','C')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B

In [21]:
def tower_of_hanoi(src, target, aux):
#     print ('move 2 from src', src, 'tar', target, 'aux', aux)
    if(len(src)==0):
        return
    tower_of_hanoi(src[1:], target, aux)
    t = src.pop(0)
    target.insert(0, t)
    tower_of_hanoi(aux[1:], src, target )

In [24]:
src = [1, 2]
target =[]
aux = []

tower_of_hanoi(src, target, aux)
print(src, target, aux)

[2] [1, 2] []

In [23]:
print(aux)

[]

In [42]:
def tower_of_hanoi(src, target, aux):
    if(len(src[1])==0):
        return
    print("Start: ", src, target, aux)
    tower_of_hanoi((src[0], src[1][1:]), aux, target)
    print(f"Moving {src[1][-1]} from {src[0]} to {target[0]} ")
    target[1].append(src[1].pop())
    tower_of_hanoi(aux, target, src )

In [44]:
src, target, aux = ('A',[1, 2]), ('B', []),('C', [])
tower_of_hanoi(src, target, aux)

Start:  ('A', [1, 2]) ('B', []) ('C', [])
Start:  ('A', [2]) ('C', []) ('B', [])
Moving 2 from A to C
Moving 2 from A to B
Start:  ('C', [2]) ('B', [2]) ('A', [1])
Moving 2 from C to B
Start:  ('A', [1]) ('B', [2, 2]) ('C', [])
Moving 1 from A to B

In [50]:
def move1(n, src, target, aux):
    print(f"Move {n} from {src} to {target}")

def moveN(n, src, target, aux):
    if n <= 0:
        return
    moveN(n-1, src, aux, target)
    move1(n, src, target, aux)
    moveN(n-1, aux, target, src)

In [52]:
moveN(2, 'A', 'B', 'C')

Move 1 from A to C
Move 2 from A to B
Move 1 from C to B

In [53]:
moveN(3, 'A', 'B', 'C')

Move 1 from A to B
Move 2 from A to C
Move 1 from B to C
Move 3 from A to B
Move 1 from C to A
Move 2 from C to B
Move 1 from A to B